body {
    background-color: #f7f1cf;
}

ul {
    list-style: square;
}

h2, h3 {
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #a2a9b1;
}

h6 {
    margin-top:auto
}


